body {
    background-color: #008080;
    font-family: "W98", "Tahoma", sans-serif;
    margin: 0;
    height: 100vh;
    cursor: url('cursor/arrow.cur'), default;
    overflow: hidden;
}
img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }
.ranura{
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 53px);
}
.item {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: url('cursor/pointer.cur'), pointer;

    
}
.item:hover p{
    background-color: #000080;
    padding-left: 5px;
    padding-right: 5px;
    
}
.item a{
    text-decoration: none !important;
    display: flex;
    flex-direction: column;
}
.item img{
    height: 60%;

}
.item p {
    font-size: 11px;
    color:white !important;
    margin: 2px 0 2px 0;
}
footer {
    z-index:9999;
    position: absolute;
    bottom: 0;
    background-color: #c0c0c0;
    width: 100%;
    height: 35px;
    border-top: 3px solid #dbdbdb;
}
footer button{
    cursor: url('cursor/pointer.cur'), pointer;
    background-color: #c0c0c0;
    margin:1px 6px 2px 0px;
    height: calc(100% - 1px);
    width: 85px;
    border-top: 3px solid #dbdbdb;
    border-left:3px solid #dbdbdb;
    border-bottom: 3px solid #000000;
    border-right: 3px solid #000000;
}
footer button:active{

    border-top: 3px solid #000000;
    border-left:3px solid #000000;
    border-bottom: 3px solid #dbdbdb;
    border-right: 3px solid #dbdbdb;
}
footer button img {
    width: 100%;
    height: 80% !important;
    margin: 0px;
    
}
footer button:active img {
    transform: scale(0.9);
}
.ventana {
    position: absolute;
    width: 500px;
    top: 100px;
    left: 100px;
    border-top: 2px solid #dbdbdb;
    border-left: 2px solid #dbdbdb;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    padding: 4px;
    background: #c0c0c0;
}

.a_column{
    display:flex;
        align-items: center;

    padding: 3px;
}
.barra {
    background-image: linear-gradient(to right, #000080 , #1084d0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2px 0 0;
    cursor: grab;
    font-weight: bold;
}
.logo_notepad{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.iconos_entrada button {
    border-top: 2px solid #dbdbdb !important;
    border-left: 2px solid #dbdbdb !important;
    border-bottom: 2px solid #000000 !important;
    border-right: 2px solid #000000 !important;
    background: #c0c0c0;
    padding: 2px;
    margin-left: 2px;
}

.iconos_entrada button:active {
    border-top: 2px solid #000000 !important;
    border-left: 2px solid #000000 !important;
    border-bottom: 2px solid #dbdbdb !important;
    border-right: 2px solid #dbdbdb !important;
}
.iconos_entrada img {
    width: 16px;
    height: 16px;
}
.contenido {
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    border-bottom: 2px solid #dbdbdb;
    border-right: 2px solid #dbdbdb;

    background-color: white;
    font-size: 15px;
    padding: 10px;
    min-height: 100px;
}

.ventana2 {
    position: absolute;
    width: 300px;
    top: 100px;
    left: 100px;
    border-top: 2px solid #dbdbdb;
    border-left: 2px solid #dbdbdb;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    padding: 4px;
    background: #c0c0c0;
}

#blueScreen {
    display: none;
    position: absolute;
    color: white;
    top: 0;
    z-index: 9999999;
    background-color: #0102aa;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.winError {
    color: #0102aa !important;
    text-align: center;
    width: 100px;
    background-color: #a5a4aa;
}
.contenido_carp{
    display: flex;
    gap:30px
}
.separar{
    background-color: #0000002b;

    margin: 0;
    width: 1px;
}
.carpeta_izquierda img {
    height: 24px;
    width: 24px;
}
.carpeta_izquierda a{
    display: flex;
    flex-direction: row !important;
    text-align: center;
    font-size: 12px;
    text-decoration: none !important;
}
.carpeta_izquierda p {
    margin-left: 10px;
}
.item_carpeta {
    height: 40px;
    margin-left: 50px;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
    display: flex;
    margin-bottom: 16px;
}
.item_carpeta p{
    color:#000000 !important;
    font-size: 13px;
    
}
.item_carpeta:hover p{
    text-decoration: underline solid #000080;

}
.ventana3{
    
    width: 700px; 
    top: 100px;
    left: 700px;
}
.a_buscar{
    display:flex;
    flex-direction:row !important;
    background-color: white;
    margin-left: 10px;
    height: 20px;
    width: 90%;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    padding: 2px;
    margin-bottom: 5px;

}
.a_buscar p{
    height: 100%;
    margin: 0;
    margin-left: 5px;

}
.busqueda{
    align-items: center;
}